body {
    font-family: 'Inter', sans-serif;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.component {
    display: flex;
    justify-content: space-between;
    gap: 10%;
    height: 640px;
    padding: 40px 0 0;
}

.component__slider {
    height: 100%;
}

.component__content {
    width: 55.6%;
    height: 100%;
}

.component__descr {
    display: block;
    position: relative;
    height: 100%;
}

.component__descr.component__descr_active {
    display: block;
    animation: showBlock 0.5s linear forwards;
}

@keyframes showBlock {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.component__text {
    font-size: 32px;
    line-height: 42px;
    font-weight: 500;
    margin: 0;
}

.component__image {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.slider {
    display: flex;
    width: 44.4%;
    height: 470px;
    font-size: 66px;
    line-height: 78px;
    font-weight: 700;
    /* overflow: hidden; */
    flex-direction: column;
    align-items: flex-start;
}

.slider__el {
    margin-bottom: 35px;
    cursor: pointer;
    transition: 0.5s all;
    color: grey;
}

.slider__el.slider__el_active {
    color: black;
}

.slider__el.slider__el_hidden {
    display: none;
}